<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>CRUD-101 &bull; Página principal</title>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-reboot.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
    </head>
    <body>
        <h1>Usuarios</h1>
        <hr>
        <table class="table table-striped">
        {% if data.users %}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Número de teléfono</th>
                    <th scope="col">DNI</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data.users %}
                <tr>
                    <th scope="row">{{ row.user_id }}</th>
                    <td>{{ row.user_name_first }}</td>
                    <td>{{ row.user_name_last }}</td>
                    <td>{{ row.user_phone }}</td>
                    <td>{{ row.user_dni }}</td>
                </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tbody>
                <tr>
                    <td>No has creado ningún usuario. ¡Haz clic <a href="/users/new">aquí</a> para crear uno!</td>
                </tr>
            </tbody>
        {% endif %}
        </table>
        <script src="{{url_for('static', filename='bootstrap.bundle.min.js')}}"></script>
        <script src="{{url_for('static', filename='jquery-3.6.0.min.js')}}"></script>
        <script>
            $('.action_delete').on('click', function (e) {
                $.ajax({
                    url: '/ajax/users',
                    type: 'POST',
                    data: {
                        function: 'delete_user',
                        user_id: $(this).data('user_id')
                    }
                }).done(function (response) {
                    alert(response.success ? 'El usuario ha sido eliminado con éxito' : '¡Ups! No hemos podido eliminar el usuario');
                });
            });
        </script>
    </body>
</html>