<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>CRUD-101 &bull; Página principal</title>
        {% include "common/css.html" %}
    </head>
    <body>
        <h1><i class="bi bi-people"></i> Usuarios</h1>
        <hr>
        <table class="table table-striped">
        {% if data.users %}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Número de teléfono</th>
                    <th scope="col">DNI</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in data.users %}
                <tr>
                    <th scope="row">{{ row.user_id }}</th>
                    <td>{{ row.user_name_first }}</td>
                    <td>{{ row.user_name_last }}</td>
                    <td>{{ row.user_phone }}</td>
                    <td>{{ row.user_dni }}</td>
                    <td>
                        <a class="btn btn-secondary" href="/users/{{ row.user_id }}/" title="Haz clic aquí para ver el perfil de este usuario"><i class="bi bi-zoom-in"></i></a>
                        <a class="btn btn-secondary" href="/users/{{ row.user_id }}/edit" title="Haz clic aquí para editar este usuario"><i class="bi bi-pencil"></i></a>
                        <button class="action-delete btn btn-danger" data-user-id="{{ row.user_id }}" title="Haz clic aquí para eliminar este usuario"><i class="bi bi-eraser"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tbody>
                <tr>
                    <td>No has creado ningún usuario. ¡Haz clic <a href="/users/new">aquí</a> para crear uno!</td>
                </tr>
            </tbody>
        {% endif %}
        </table>
        <div class="col-12">
            <hr>
            <a class="btn btn-primary" href="/users/new">Nuevo usuario</a>
        </div>
        {% include "common/js.html" %}
        <script>
            $('.action-delete').on('click', function (e) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Eliminar usuario',
                    text: 'Esta acción no se puede deshacer. ¿Estás segur@?',
                    showCancelButton: true,
                    focusCancel: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Eliminar',
                    confirmButtonColor: 'red'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/ajax/users',
                            type: 'POST',
                            data: {
                                function: 'delete_user',
                                user_id: $(this).data('user-id')
                            }
                        }).done(function (response) {
                            if (response.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Eliminar usuario',
                                    text: '¡El usuario ha sido eliminado con éxito!'
                                }).then(() => {
                                    window.location.reload();
                                });
                            }
                        });
                    }
                });
            });
        </script>
    </body>
</html>